@import '../../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200, 300,400,500,600,700,900');

:root {
  --sidenav-width: 300px;
  --sidenav-collapsed-width: 20px;
  --sidenav-transition-duration: 400ms;
}

body {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #340921;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
